<h2>Edit Quote</h2>

<form method="POST" action="/quote/<%= @quote.id %>">
  <input type="hidden" name="action" value="<%= @action %>" />
  <input type="text" name="author" value="<%= @quote.author %>" placeholder="Author">
  <textarea name="quote" placeholder="Quote"><%= @quote.quote %></textarea>
  <input type="submit">
</form>
