<!-- well well well -->
<div class="well">
  <h1>#powder Quote Database (qdb)</h1>

  <p>Here's a bunch of IRC quotes from the freenode IRC channel #powder. Click
  on links above to navigate.</p>
</div>

<div class="well">
  <h1>Work In Progress</h1>
  
  <p>This entire site is a huge work in progress. A lot of <strong>features
  may be (or are) broken</strong>, might break in the future or will be fixed in
  that same future. This also means that if you find a bug, report it on 
  <a href="https://github.com/boxmein/qdb">GitHub</a> and I'll get to work on
  it. Thanks!</p>
</div>

<div class="well">
  <h2>Project</h2>

  <p>The project files are <a href="https://github.com/boxmein/qdb">up on GitHub!</a></p>
</div>
