<!-- well well well -->
<div class="well">
  <h1>#powder Quote Database (qdb)</h1>

  <p>Here's a bunch of IRC quotes from the freenode IRC channel #powder. Click
  on links above to navigate.</p>
</div>

<div class="well">

</div>

<div class="well">

</div>
