<h1>#powder Quote Database (qdb)</h1>

<p>Here's a bunch of IRC quotes from the freenode IRC channel #powder. Click
on links above to navigate.</p>

<form method="POST" action="/quote/new">
  <input type="text" name="quote[author]" placeholder="Quote Author" />
  <textarea name="quote[quote]" placeholder="Quote itself..."></textarea>
  <input type="submit">
</form>
