<!-- well well well -->
<div class="well">
  <h1>#powder Quote Database (qdb)</h1>

  <p>Here's a bunch of IRC quotes from the freenode IRC channel #powder. Click
  on links above to navigate.</p>

  <p>Note that voting has not been implemented yet, so all you can do right now
  is look at different quotes.</p>
</div>

<div class="well">
  <h2>Become a Quote Adder!</h2>

  <p>
    I need some people to add quotes to the database - if you feel like joining,
    email <tt>boxmein@boxmein.net</tt> with your account name - I'll probably
    add the appropriate permission to you soon. You'll see a "new quote" button
    on the top right, right from your username.
  </p>

</div>


<div class="well">
  <h2>Project</h2>

  <p>The project files are <a href="https://github.com/boxmein/qdb">up on GitHub!</a></p>
</div>
