<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">home</a> /
      <a href="/quotes/">quotes</a>
        (<a href="/quotes/random">random</a>,
        <a href="/quotes/top100">top 100</a>,
        <a href="/quotes/voted">by votes</a>) /
      <a href="/modlog/">moderation log</a>

      <% if @loggedIn %>
        // logged in as <%= @username %>
        [<% @userFlags.each do |uf| %>
          <span class="userFlag"><%= uf.to_s %></span>
        <% end %>]
        (<a href="/logout">logout</a>)
      <% else %>
        / <a href="/login">login</a>
        / <a href="/register">register</a>
      <% end %>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
