<h2>Login</h2>
<form method="POST" action="/login">
  <input type="text" name="name" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>
