<h1>#powder Quote Database (qdb)</h1>

<div class="quotes">
  <% @quotes.each do |q| %>
  <div class="quote">
    <h4>Quote #<%=q.id%> by <%=q.author%></h4>
    <div class="quote"> <%= q.quote %> </div>
  </div>
  <% end %>
</div>
