<h2>Register</h2>
<form method="POST" action="/register">
  <input type="text" name="user[name]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="number" name="user[flags]">
  <input type="submit" value="Register">
</form>
