<h2>Final Frontier</h2>

<p>This is it. The final frontier. This is the last click you need to make to
rid qdb of your user for good.</p>

<p>Click it wisely. There's no turning back now!</p>

<p>(well, you can just press the back button, but that's beside the point)</p>

<form action="/user/delete" method="POST">
  <input type="submit" class="btn btn-danger btn-large" value="Delete">
</form>
