<div class="users">
  <% @users.each do |user| %>
  <div class="user">
    <div class="name">Username: <%= user.name %></div>
    <div class="flags">Flags: <%= user.flags %>
    <% if @userFlags.include? :set_flags %>
      <a href="/user/<%= user.name %>/set_flags">(set)</a>
    <% end %>
    </div>
  </div>
  <% end %>

  <% will_paginate @users unless @users.empty? %>
</div>
