<h2>Login</h2>
<form method="POST" action="/user/login" class="form-horizontal">
  <% if @loggedIn %>
  <div class="alert alert-info">
    You should note that you <em>are</em> actually logged in already. Log out if
    you want to swap users!
  </div>
  <% end %>
  <div class="alert alert-warning alert-https" class="hidden">
    Note: this page is <em>not</em> served over HTTPS. Anyone listening in on
    your network traffic will see the password in plain text. I suggest you use 
    <a href="https://pacific-island-8492.herokuapp.com" class="alert-link">this</a> instead. 
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="Username">Username</label>
    <div class="col-md-7">
      <input class="form-control" type="text" name="name" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="password">Password</label>
    <div class="col-md-7">
      <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-md-offset-3">
      <input class="btn btn-primary btn-large"
        <% if @loggedIn %>disabled<% end %> type="submit" value="Login">
    </div>
  </div>
</form>

<script defer src="/js/login-https-warn.js"></script>
