<div class="well">
  <p>Note: this page is private.</p>

  <h2>User <%= @user.name %> (User ID <%= @user.id %>)</h2>

  <h3>Permissions</h3>

  <div class="permissions">
    <% @userFlags.each do |flag| %>
      <div class="badge"> <%= flag %> </div>
    <% end %>
  </div>

  <h3>Change password</h3>

  <a href="/user/change_pw">
    <div class="btn btn-large btn-primary">Change Password</div>
  </a>

  <h3>Delete account</h3>

  <p>You can delete your account here. The quotes will still remain in the
  database, and will be removed (if you're the author) on very polite request.
  </p>

  <a href="/user/delete">
    <div class="btn btn-large btn-danger">Delete account</div>
  </a>
</div>
