// Base styles
// sass index.scss index.css
@import "_global";

textarea.quote {
  display: block;
  width: 100%;
  resize: vertical;
}

// Add Quote UI
.add_quote {
  max-width: 500px;
}

.add_quote input {
  display: block;
  width: 100%;
}

// List Users UI
.users .user > .name, .users .user > .flags {
  display: inline-block;
}

// Overriding Bootstrap crap
.navbar {
  min-height: 20px;
}

.navbar .navbar-brand {
  padding: 5px;
  line-height: 20px;
  height: 30px;
}

.navbar .navbar-nav > li > a {
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  transition: background-color 0.1s ease;
}

.navbar .navbar-nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .navbar-text {
  margin: 0;
  padding: 5px;
  line-height: 20px;
}

.container {
  max-width: 600px;
}

.actual-quote {
  white-space: pre-line;
  overflow: auto;
  font-family: $quoteFont;
  font-size: 12px;
}
