@font-face {
  font-family: 'Bitstream Vera Sans Mono';
  src: url("VeraMono/VeraMono-webfont.eot");
  src: url("VeraMono/VeraMono-webfont.eot?#iefix") format("embedded-opentype"), url("VeraMono/VeraMono-webfont.woff") format("woff"), url("VeraMono/VeraMono-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

textarea.actual-quote {
  display: block;
  width: 100%;
  resize: vertical;
  min-height: 300px; }

.quote {
  padding: 7px;
  margin-bottom: 10px; }

.users .user > .name, .users .user > .flags, .users .user > .id {
  font-weight: bold; }

.metadata-bar div {
  display: inline-block;
  padding: 2px; }

.metadata-bar .upvotes {
  color: #17BD51;
  cursor: pointer; }

.metadata-bar .upvotes:hover {
  border-radius: 2px;
  color: #23e466;
  text-decoration: underline; }

.metadata-bar .downvotes {
  color: #E31B1B;
  cursor: pointer; }

.metadata-bar .downvotes:hover {
  border-radius: 2px;
  color: #e94848;
  text-decoration: underline; }

.metadata-bar .voted {
  font-weight: bold; }

.navbar {
  min-height: 20px; }

.navbar .navbar-brand {
  padding: 5px;
  line-height: 20px;
  height: 30px; }

.navbar .navbar-nav > li > a {
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.1s ease; }

.navbar .navbar-text {
  margin: 0;
  padding: 5px;
  line-height: 20px; }

.container {
  max-width: 600px; }

.actual-quote {
  white-space: pre-wrap;
  overflow: auto;
  font-family: "Bitstream Vera Sans Mono", monospace;
  font-size: 12px; }

.navbar .navbar-text a {
  color: white; }

.pagination .current {
  font-style: normal;
  font-weight: bold; }

body .well, .container .well {
  padding: 7px; }
