<div class="well">
  <h2>Add Quote</h2>
  <form method="POST" action="/quote/new" class="add_quote">
    <textarea class="actual-quote form-control" name="quote[quote]" placeholder="Quote itself..."></textarea>
    <input class="btn btn-large btn-primary form-control" type="submit" value="Post">
  </form>
</div>
