<h2>Quotes</h2>
<div class="quotes">
  <% @quotes.each do |q|
       @quote = q
       @voted = @votedQuotes.include? q.id
  %><%= erb :'quote/quote_view' %>
  <% end %>
  <% will_paginate @quotes unless @quotes.empty? %>
</div>
<script async defer src="/js/upvote.js"></script>
