<h2>Quotes</h2>
<div class="quotes">
  <%= will_paginate @quotes unless @quotes.empty? %>
  <% @quotes.each do |q|
      @quote = q
      if @loggedIn
        @voted = @votedQuotes.include? q.id
      else 
        @voted = false
      end
  %><%= erb :'quote/quote_view' %>
  <% end %>
  <%= will_paginate @quotes unless @quotes.empty? %>
</div>
